*

# Only add these files
!.gitignore

# Git helpers
!clone
!git-big-blobs
!git-deploy-all
!git-merge-all
!git-rewrite-author

# Util
!cpp-gen
!f
!php-server
!renamer
!server
!space
!sub
!unity
!wifi_toggle
!lock

# File creation
!tx
!txn

# Docker
!dps
!dsh
